#include "Windows.H"
#include "Constant.H"

ID_KONAS_PANEL DIALOG 8, 10, 300, 200
STYLE WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "KONAS - Koelliker Notaufnahme System"
{
	LTEXT "Patientenliste", -1, 10, 10, 100, 8
	CONTROL "", ID_PERSONLIST_BOX, "LISTBOX", LBS_STANDARD | LBS_DISABLENOSCROLL, 10, 20, 150, 170

	DEFPUSHBUTTON "&Neuen Patienten aufnehmen...", IDB_NEW_PERSON, 176, 20, 110, 12, WS_CHILD | WS_TABSTOP
	PUSHBUTTON "Patienten&daten ändern...", IDB_EDIT_PERSON, 176, 36, 110, 12, WS_CHILD | WS_TABSTOP
	PUSHBUTTON "Eintrag &löschen", IDB_DELETE_PERSON, 176, 52, 110, 12, WS_CHILD | WS_TABSTOP

	PUSHBUTTON "Formular &drucken...", IDB_PRINT_PERSON, 176, 80, 110, 12, WS_CHILD | WS_TABSTOP
	PUSHBUTTON "Karte &kodieren...", IDB_MC_PERSON, 176, 96, 110, 12, WS_CHILD | WS_TABSTOP

	PUSHBUTTON "Reportliste drucken...", IDB_PRINT_LIST, 176, 124, 110, 12, WS_CHILD | WS_TABSTOP
	PUSHBUTTON "Daten exportieren...", IDB_EXPORT_DATA, 176, 140, 110, 12, WS_CHILD | WS_TABSTOP

	PUSHBUTTON "Konas &schliessen", IDB_CLOSE, 176, 168, 110, 12, WS_CHILD | WS_TABSTOP
}


ID_FORM_PANEL DIALOG 6, 20, 300, 200
STYLE DS_MODALFRAME | WS_CAPTION
CAPTION "Formular"
{
	LTEXT "Seite", IDS_PAGE_TITLE, 10, 10, 150, 8

	DEFPUSHBUTTON "&Nächste Seite", IDB_NEXT_PAGE, 200, 15, 86, 12, WS_CHILD | WS_TABSTOP
	PUSHBUTTON "&Vorherige Seite", IDB_PREV_PAGE, 200, 31, 86, 12, WS_CHILD | WS_TABSTOP

	PUSHBUTTON "Aufnahme", IDB_PAGE, 200, 54, 86, 10, WS_CHILD | WS_TABSTOP
	PUSHBUTTON "Konstenträger", IDB_PAGE, 200, 64, 86, 10, WS_CHILD | WS_TABSTOP
	PUSHBUTTON "Station", IDB_PAGE, 200, 74, 86, 10, WS_CHILD | WS_TABSTOP
	PUSHBUTTON "Personalien", IDB_PAGE, 200, 84, 86, 10, WS_CHILD | WS_TABSTOP
	PUSHBUTTON "Anamnese", IDB_PAGE, 200, 94, 86, 10, WS_CHILD | WS_TABSTOP
	PUSHBUTTON "Aufnahmebefund", IDB_PAGE, 200, 104, 86, 10, WS_CHILD | WS_TABSTOP
	PUSHBUTTON "Diagnose/Behandlung", IDB_PAGE, 200, 114, 86, 10, WS_CHILD | WS_TABSTOP
	PUSHBUTTON "Sonstiges", IDB_PAGE, 200, 124, 86, 10, WS_CHILD | WS_TABSTOP
	PUSHBUTTON "Konsilärzte", IDB_PAGE, 200, 134, 86, 10, WS_CHILD | WS_TABSTOP

	PUSHBUTTON "Änderungen &rückg.", IDB_UNDO, 200, 157, 86, 12, WS_CHILD | WS_TABSTOP
	PUSHBUTTON "Formular &schliessen", IDB_CLOSE, 200, 173, 86, 12, WS_CHILD | WS_TABSTOP
}
